.card02{
    height: 200px;
    width:1000px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 0px;
    /* background:  rgb(163, 190, 220);  */
    color: #fbfbfb;
    font-family: Poppins-Black ;
    margin-top: 20px;
    background: white;
}
.carddiv{
    margin-top: 30px;
    margin-left: 10px;
}
.subject{
    margin-left: 10px;
}
.subs{
    width: 151px;
height: 30px;
border-radius: 20px;
background:  rgba(0, 81, 166, 1);
color: #fbfbfb;
font-size: small;
text-align: center;
}
.livebuttons{
    margin-top: 10px;
}
.cards{
    height: 190px;
    width: 150px;
    border-radius: 20px;
    background:  rgba(180, 0, 184, 1);
    margin-top: 4px;
    margin-left: 0px;


}
.progress{
    width: 100px;
    height: 5px;
    margin-left: 10px;
    color: #fbfbfb;
}
.card2{
    height: 200px;
    width:1000px;
    border-radius: 20px;
    border: 1px solid;
    margin-left: 0px;
    /* background:  rgb(163, 190, 220);  */
    color: #fbfbfb;
    font-family: Poppins-Black ;
    margin-top: 20px;
  
}
.buttons{
    /* border: 1px solid rgba(42,56,219); */
    background: white;
    width: 145px;
    text-align: center;
    text-decoration: none;
    padding: 0px 0px;
    color: aliceblue;
    border-radius: 20px;
    height: 37px;
}
.grid01{
    margin-top: 35px;
    display: grid;
    grid-template-columns: 35% 35% 106%
}