<div>
    <div class="wraper">
        <div>
            <div class="wrap">
                <div><img class="imgcard"  src="../../assets/16.png" alt=""></div>
                <div><img class="imgcard" src="../../assets/15.png" alt=""></div>
                <div><img class="imgcard" src="../../assets/14.png" alt=""></div>

            </div>
            <div class="wrap">
                <div><img class="imgcard"  src="../../assets/13.png" alt=""></div>
                <div><img class="imgcard" src="../../assets/12.png" alt=""></div>
                <div><img class="imgcard" src="../../assets/11.png" alt=""></div>

            </div>

        </div>
        <div>
            <div class="cards " style="margin-left: 0px;padding-left: 30px;height: 684px;height: 409px;padding-right: 30px;"> 
                <h2>LIVE CLASSES</h2>
                <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deleniti nisi enim aliquid eos perferendis atque non, excepturi, dolore tenetur sapiente similique voluptate fugiat, ex earum magnam. Omnis, natus officiis.
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere sit quod saepe eius aperiam a deleniti, itaque iusto debitis repellat voluptatibus praesentium adipisci accusamus dignissimos beatae asperiores architecto consequuntur fugit.
                </P>
            </div>

        </div>
    </div>
</div>