<div>
    <div class="wrap">
        <div class="grid">
           <div data-aos="zoom-in">
            <div class="card">
                <img class="color1" src="../../assets/icons8-tuition-100.png" alt="">
            </div></div>
            <div><h4>Live Class</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero hic voluptatibus doloribus architecto, magnam voluptate maxime id eos sapiente ipsam quibusdam nobis distinctio vel accusamus reiciendis perferendis amet culpa!</p></div>
        </div>
        <div class="grid">
            <div data-aos="zoom-in">
                <div class="card1">
                    <img class="color2" src="../../assets/icons8-video-playlist-100.png" alt="">
                </div></div>
            <div><h4>Academic Animated Vedios</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero hic voluptatibus doloribus architecto, magnam voluptate maxime id eos sapiente ipsam quibusdam nobis distinctio vel accusamus reiciendis perferendis amet culpa!</p></div>
        </div>
    </div>
    <div class="wrap">
        <div class="grid">
           <div data-aos="zoom-in" >
            <div class="card2">
                <img class="color3" src="../../assets/icons8-science-application-100.png" alt="">
            </div>
            </div>
            <div><h4>Concept Based Learning</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero hic voluptatibus doloribus architecto, magnam voluptate maxime id eos sapiente ipsam quibusdam nobis distinctio vel accusamus reiciendis perferendis amet culpa!</p></div>
        </div>
        <div class="grid">
            <div data-aos="zoom-in">
                <div class="card3">
                    <img class="color4" src="../../assets/icons8-open-book-100.png" alt="">
                </div></div>
            <div><h4>Simplified Study Materials</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero hic voluptatibus doloribus architecto, magnam voluptate maxime id eos sapiente ipsam quibusdam nobis distinctio vel accusamus reiciendis perferendis amet culpa!</p></div>
        </div>
    </div>
    <div class="wrap">
        <div class="grid">
           <div data-aos="zoom-in" >
            <div class="card4">
                <img class="color5" src="../../assets/icons8-test-results-100.png" alt="">
            </div></div>
            <div><h4>Chapterwise Assignments</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero hic voluptatibus doloribus architecto, magnam voluptate maxime id eos sapiente ipsam quibusdam nobis distinctio vel accusamus reiciendis perferendis amet culpa!</p></div>
        </div>
        <div class="grid">
            <div data-aos="zoom-in">
                <div class="card5">
                    <img class="color6" src="../../assets/icons8-geography-100.png" alt="">
                </div></div>
            <div><h4>Available in 5 Languages</h4><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia vero hic voluptatibus doloribus architecto, magnam voluptate maxime id eos sapiente ipsam quibusdam nobis distinctio vel accusamus reiciendis perferendis amet culpa!</p></div>
        </div>
    </div>
</div>