<div>
    <div class="container">
        <div>
            <h3>About Us</h3>
            <div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure tenetur perferendis explicabo molestias fugiat suscipit sunt, iste praesentium eos ducimus
                     illo numquam odit? Nobis, qui? Recusandae quo ipsa quaerat a. Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque, ipsam! Fuga, atque quaerat 
                    praesentium omnis blanditiis distinctio ducimus! Nisi, nulla repudiandae! Ad, vitae officiis aspernatur earum non reprehenderit asperiores tempora?</p>
            </div>
            <div>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dignissimos veniam enim nostrum beatae assumenda hic labore magni odit perspiciatis!
                     Distinctio, magnam reiciendis! Laboriosam, quisquam accusantium voluptatem modi consectetur saepe recusandae? Lorem ipsum dolor sit amet consectetur
                      adipisicing elit. Possimus amet non est aut quam harum ducimus beatae! Iusto delectus soluta deleniti impedit sequi odit ab inventore amet incidunt. Tenetur, illo.</p>
            </div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Corporis facere facilis eligendi esse odit. Nam, veritatis dolorem quod nemo soluta aut sint 
                placeat sit deserunt laudantium cupiditate. Expedita, sequi ipsam. Lorem ipsum dolor, sit amet consectetur adipisicing elit. Quia maxime fugiat voluptatibus dolor, maiores rerum dolores
                 adipisci assumenda temporibus, minima excepturi odio autem aut commodi amet cupiditate id expedita deleniti. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fugiat dolore,
                  odit animi magni quo sequi aliquid et consequuntur dolorem harum deleniti ut ipsum ea ullam iste nihil. Harum, minus dicta.</div>
        </div>
    </div>
</div>