<div>
    <div class="cards">
        <img class="logo" src="../../assets/Untitled-1-01.webp" alt="">
        <div class="card zoom "></div>
    </div>
   
</div>
<br>
<br>
<br>
<br>
<br>
<br>
<br><br>
<h2 style="
margin-left: 553px;">Naveen Kumar</h2>
<h4 style="
margin-left: 530px;">CBSC class 5, Karnataka</h4>

<br>
<br><br>
<div>
    <div class="subscribe">
        <h4 style="
        margin-left: 413px;">Your subscription has  expired!</h4>
        <h2 style="
        margin-left: 292px;">Renew or Upgrade subscription to continue</h2>
<button style="
margin-left: 478px;
margin-top: 50px;" class="navi">Not now</button> &nbsp;
<button class="navi">Upgrade</button>
    </div>
</div>
<br>
<br>