<!-- 
<div><h1>live class</h1></div>
<figure>
    
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/2" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/3" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/4" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p> 
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/5" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/6" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/7" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/8" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>

<figure>
    <img src="http://lorempixel.com/192/96/sports/9" alt="Portfolio Item">
    <figcaption>
        <h3>Title</h3>
        <p>Description.</p>
    </figcaption>
</figure>​  
<div>
    <div>
        <iframe width="420" height="315" src="https://www.youtube.com/watch?v=32E7dReissc" frameborder="0"></iframe>
    </div>
</div> -->

<div class="card align" >
    <div class="wraper">
        <div class="card" style="margin-left: 100px; margin-right: 100px;margin-bottom: 50px;margin-top: 50px;width: 1145px;">
            <div class="margin" style="margin-left: 70px;margin-bottom: 20px;">
                <br>
                <div class="border">
                    <h2 class="font1">ACADEMIC LIVE CLASSES</h2>
                </div>
                <br><br>
               
                <br>
                <div>
                    <div class="row">
                        <div class=" border-style: solid wrap">
                          <div style="margin-top: 10px;" >Profile to</div>
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 226px;">
                                KANNADA
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">  ENGLISH</a>
                                  <a class="dropdown-item" href="#">SCIENCE </a>
                                  <a class="dropdown-item" href="#"> SOCIAL SCIENCE</a>
                                </div>
                              </div>
                              <div style="margin-left: 87px;margin-top: 10px;">of</div>
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"style="width: 226px;" >
                                  CBSE Class 10
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">CBSE Class 10</a>
                                  <a class="dropdown-item" href="#">CBSE Class 10</a>
                                  <a class="dropdown-item" href="#">CBSE Class 10</a>
                                </div>
                              </div>
                              <div style="margin-left: 53px;margin-top: 10px;">for</div>
                              <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="width: 226px;">
                                 Karnataka
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="#">KERALA</a>
                                  <a class="dropdown-item" href="#"> TAMIL NADU</a>
                                  <a class="dropdown-item" href="#"> ANDRA PREDESH</a>
                                </div>
                              </div>
                        </div> 
                      </div>
                </div>
                <br>
                <div class="container">
                    <div>
                        <img class="image" src="../../assets/KSEEB-18-05-2022-04.jpg" alt="">
                    </div>
                    <div>
                        <div class="table-wrapper-scroll-y my-custom-scrollbar" style="height: 900px;">

                            <table class="table table-bordered table-striped mb-0">
                             
                              <tbody>
                                <tr>
                                  <th scope="row" class="rows"><img src="../../assets/KSEEB-18-05-2022-04.jpg" alt=""></th>
                                  <td>Hindi live Class
                                    <br>
                                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                    <br>teacher:Smiriti
                                  </td>
                                  
                                </tr>
                                <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-04.jpg" alt=""></th>
                                    <td>Hindi Webcasted
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Upcomming Science
                                        <br>
                                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                                        <br>teacher:Nalina
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-04.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                  <tr>
                                    <th scope="row"><img src="../../assets/KSEEB-18-05-2022-02.jpg" alt=""></th>
                                    <td>Hindi
                                        <br>
                                  Lorem ipsum dolor, sit amet consectetur adipisicing elit. 
                                  <br>teacher:Smiriti
                                    </td>
                                    
                                  </tr>
                                
                              </tbody>
                            </table>
                          
                          </div>
                    </div>

                </div>
                <br>
                <h3 style="margin-top: -600px">KSEEB CLASS VII HINDI</h3>
                <div class="crumbs">
                    <div style="width: 250px;">
                        <h6>159 views . 01 June 2022</h6>
                        <p>
                          Lorem ipsum dolor sit amet consectetur adipisicing elit. Id, et deleniti! Fugit culpa repellat minus odio tempora totam odit quas alias iure incidunt et in praesentium, cupiditate provident sequi voluptas.
                          
                        </p>
                    </div>
                    <div class="bredcrumbs">
                        <div><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chat-dots-fill size" viewBox="0 0 16 16" style="margin-left: -70px; margin-bottom: 20px;" >
                            <path d="M16 8c0 3.866-3.582 7-8 7a9.06 9.06 0 0 1-2.347-.306c-.584.296-1.925.864-4.181 1.234-.2.032-.352-.176-.273-.362.354-.836.674-1.95.77-2.966C.744 11.37 0 9.76 0 8c0-3.866 3.582-7 8-7s8 3.134 8 7zM5 8a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm4 0a1 1 0 1 0-2 0 1 1 0 0 0 2 0zm3 1a1 1 0 1 0 0-2 1 1 0 0 0 0 2z"/>
                          </svg> Chat</div>
                          <div>
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell-fill size" viewBox="0 0 16 16" style="margin-left: -70;">
                                <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zm.995-14.901a1 1 0 1 0-1.99 0A5.002 5.002 0 0 0 3 6c0 1.098-.5 6-2 7h14c-1.5-1-2-5.902-2-7 0-2.42-1.72-4.44-4.005-4.901z"/>
                              </svg>Notify Me
                          </div>
                        
                    </div>
                    <div>
                        <!-- <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 10px;">
                              Show All
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Action</a>
                              <a class="dropdown-item" href="#">Another action</a>
                              <a class="dropdown-item" href="#">Something else here</a>
                            </div>
                          </div> -->
                    </div>
                </div>
                <div>
                  <div>
                    <div>
                      <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />

<div class="containers">
<div class="row clearfix">
    <div class="col-lg-12">
        <div class="card chat-app">
            <div id="plist" class="people-list">
                <div class="input-group">
                    <div class="input-group-prepend">
                    </div>
                </div>
                
                   
            </div>
            <div class="chat">
                <div class="chat-header clearfix">
                    <div class="row">
                        
                        
                    </div>
                </div>
                <div class="chat-history">
                    <ul class="m-b-0">
                        <li class="clearfix">
                            
                            <div class="message other-message float-right"> Hi Aiden, how are you? How is the project coming along? </div>
                        </li>
                        <li class="clearfix">
                            <div class="message-data">
                                <span class="message-data-time">10:12 AM, Today</span>
                            </div>
                            <div class="message my-message">Are we meeting today?</div>                                    
                        </li>                               
                        
                    </ul>
                </div>
                <div class="chat-message clearfix">
                    <div class="input-group mb-0">
                        <div class="input-group-prepend">
                            <span class="input-group-text" style="margin-right: 21px;"><i class="fa fa-send"></i></span>
                        </div>
                        <input type="text" class="form-control" placeholder="Enter text here...">                                    
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
                    </div>
                  </div>
                    <div>
                        <div class="row">
                            <div class="col-sm-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-left" viewBox="0 0 16 16" style="width: 50px;height: 30px;margin-top: 50px;">
                                    <path fill-rule="evenodd" d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z"/>
                                  </svg>
                                  
                            </div>
                            <div class="col-sm-3">
                              <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/KSEEB-18-05-2022-02.jpg" alt="">                                </div>
                              </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="card">
                                  <div class="card-body">
                                    <img src="../../assets/KSEEB-18-05-2022-04.jpg" alt="">                                  </div>
                                </div>
                              </div>
                            <div class="col-sm-3">
                              <div class="card">
                                <div class="card-body">
                                    <img src="../../assets/KSEEB-18-05-2022-02.jpg" alt="">                                </div>
                              </div>
                            </div>
                            <div class="col-sm-1">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-chevron-right" viewBox="0 0 16 16" style="width: 50px;height: 30px;margin-top: 50px;">
                                    <path fill-rule="evenodd" d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"/>
                                  </svg>
                                  
                            </div>
                          </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</div>