<div>
    <div class="wrap">
        <div style="
        margin-top: 150px;     margin-left: 20px;">
            <h2 style="color: rgba(18,31,137);">V-learn Anywhere Anytime</h2>
            <p style="color: rgba(18,31,137);">Through Vista's Learning App , you can now start learning anywhere at any time.Downlode the App from Google Playstore or log in to our Web Application </p>
         <div data-aos="flip-left"
         data-aos-easing="ease-out-cubic"
         data-aos-duration="2000">
            <a _ngcontent-dre-c197="" href="https://play.google.com/store/apps/details?id=com.vista.vlearning" target="_blank">
                <div></div>
                <button _ngcontent-dre-c197="" type="button" class="btn btn-lg btn-custom btn-rounded googleButton" style="
                width: 202px;
                height: 64px;
                background-color: black;
                padding-left: -16;
                margin-left: 10px; color: aliceblue;">
                    <i _ngcontent-dre-c197="" class="fab fa-google-play"></i> &nbsp;<img class="googleplay" src="assets/Google_Play-Icon-Logo.wine.svg" style="
                    width: 35px;
                    height: 35px;" alt=""> Google Play</button></a>
         </div>
            &nbsp; 
        </div>
        <div data-aos="flip-left"
        data-aos-easing="ease-out-cubic"
        data-aos-duration="2000">
            <img src="../../assets/3 (1).png" alt=""  class="img">
        </div>
    </div>
</div>
