<div class="card align" >
    <div class="wraper">
        <div class="card" style="margin-left: 100px; margin-right: 100px;margin-bottom: 50px;margin-top: 50px;width: 1145px;">
            <div class="margin" style="margin-left: 70px;margin-bottom: 20px;">
                <br>
                <div class="border">
                    <h2 class="font1">MY PERSONAL COACHING</h2>
                </div>
                <br><br>
                
                <br>
                <div>
                    <div class="row">
                        
                        <div class="col-sm-4 wrap">
                          <div>
                              <h2>BATCH MATH -CBSE</h2>
                          </div>
                          <div>
                              <button class="button">GO TO COURSE</button>
                          </div>
                          </div>
                        </div>
                        <div class="col-sm-4 wrap">
                            <div>
                                <h2>BATCH MATH -CBSE</h2>
                            </div>
                            <div>
                                <button class="butto">GO TO COURSE</button>
                            </div>
                            </div>
                        
                      </div>
                </div>
                <br><br>
                <h3>Not subscribed to premium</h3>
                
                <button type="button" class="btn explore">Explore</button>
                
                
            </div>
        </div>
</div>


