<!--Main Navigation-->
<header>
    <div class="main">
        <nav id="sidebarMenu" class="collapse d-lg-block sidebar collapse bg-white">
            <div class="linegrid">
                <div class="position-sticky">
                    <div class="card">
                        <div class="grid">
                            <div><img class="profile" src="../../assets/HOME PAGE logo-01 (1).png" alt=""></div>
                            <div class="name"><h5>Naveen Kumar</h5>
                                <p class="ptag">Class 5 -CBSE Karnataka</p>
                                <p class="ptag" style=" text-decoration: underline;">Your Account</p></div>
                            
                        </div>
                       
                    </div>
                    <div class="list-group list-group-flush mx-3 mt-4">
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple " aria-current="true">
                          <div class="div">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-house-door-fill icon1 active svg" viewBox="0 0 16 16">
                                  <path d="M6.5 14.5v-3.505c0-.245.25-.495.5-.495h2c.25 0 .5.25.5.5v3.5a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5v-7a.5.5 0 0 0-.146-.354L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.354 1.146a.5.5 0 0 0-.708 0l-6 6A.5.5 0 0 0 1.5 7.5v7a.5.5 0 0 0 .5.5h4a.5.5 0 0 0 .5-.5z"/>
                                </svg>
                          </div>
                         
      
                            <span class="span">Home <p class="home p"> Browse through the products</p>
                         
                          </span>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple ">
                          <div class="div" style=" background:rgb(221, 228, 235);">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-mortarboard-fill icon1 svg" viewBox="0 0 16 16">
                                  <path d="M8.211 2.047a.5.5 0 0 0-.422 0l-7.5 3.5a.5.5 0 0 0 .025.917l7.5 3a.5.5 0 0 0 .372 0L14 7.14V13a1 1 0 0 0-1 1v2h3v-2a1 1 0 0 0-1-1V6.739l.686-.275a.5.5 0 0 0 .025-.917l-7.5-3.5Z"/>
                                  <path d="M4.176 9.032a.5.5 0 0 0-.656.327l-.5 1.7a.5.5 0 0 0 .294.605l4.5 1.8a.5.5 0 0 0 .372 0l4.5-1.8a.5.5 0 0 0 .294-.605l-.5-1.7a.5.5 0 0 0-.656-.327L8 10.466 4.176 9.032Z"/>
                                </svg><span class="span">Academic <p class="home p"> Browse through the products</p></span>
                          </div>
                          
                      </a>
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                          <div class="div" style=" background:rgb(221, 228, 235);">
                              <svg  xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-star-fill icon1 svg" viewBox="0 0 16 16">
                                  <path d="M3.612 15.443c-.386.198-.824-.149-.746-.592l.83-4.73L.173 6.765c-.329-.314-.158-.888.283-.95l4.898-.696L7.538.792c.197-.39.73-.39.927 0l2.184 4.327 4.898.696c.441.062.612.636.282.95l-3.522 3.356.83 4.73c.078.443-.36.79-.746.592L8 13.187l-4.389 2.256z"/>
                                </svg>
                          </div>
                          <span class="span">Building Legends <p class="home p"> Browse through the products</p></span>
                      </a>
                      <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                          <div class="div" style=" background:rgb(221, 228, 235);">
                              <img src="../../assets/icons8-focus-64.png" class="icon1 svg img" alt="">
                          </div>
                         <span class="span">Discover <p class="home p"> Browse through the products</p></span></a>
                      <!-- <a href="#" class="list-group-item list-group-item-action py-2 ripple">
                        <i class="fas fa-chart-pie fa-fw me-3"></i><span>Funnyverse <p class="home"> Browse through the products</p></span>
                      </a> -->
                      <div>
                          <a href="#" class="list-group-item list-group-item-action py-2 ripple logout">
                              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-left" viewBox="0 0 16 16" style="margin-left: -5px;">
                                  <path fill-rule="evenodd" d="M6 12.5a.5.5 0 0 0 .5.5h8a.5.5 0 0 0 .5-.5v-9a.5.5 0 0 0-.5-.5h-8a.5.5 0 0 0-.5.5v2a.5.5 0 0 1-1 0v-2A1.5 1.5 0 0 1 6.5 2h8A1.5 1.5 0 0 1 16 3.5v9a1.5 1.5 0 0 1-1.5 1.5h-8A1.5 1.5 0 0 1 5 12.5v-2a.5.5 0 0 1 1 0v2z"/>
                                  <path fill-rule="evenodd" d="M.146 8.354a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L1.707 7.5H10.5a.5.5 0 0 1 0 1H1.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3z"/>
                                </svg><span style="margin-left: 5px;">Logout </span>
                            </a>
                      </div>
                      
                    </div>
                  </div>

                  <div class="vl"></div>
            </div>
            
          </nav>
          <!-- Sidebar -->
      
          <!-- Navbar -->
          <nav id="main-navbar" class="navbar navbar-expand-lg navbar-light bg-white fixed-top">
            <!-- Container wrapper -->
            <div class="container-fluid">
              <!-- Toggle button -->
              <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#sidebarMenu"
                aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
              </button>
      
              <!-- Brand -->
              <a class="navbar-brand" href="#">
                <img src="../../assets/Untitled-1-01 (1).webp" class="logo" alt=" Logo"
                  loading="lazy" />
              </a>
              <!-- Search form -->
              
      
              <!-- Right links -->
              <ul class="navbar-nav ms-auto d-flex flex-row">
                <!-- Notification dropdown -->
                <li class="nav-item icon ">
                 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bell siconsize" viewBox="0 0 16 16">
                      <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z"/>
                    </svg>
                    <!-- <span class="badge rounded-pill badge-notification bg-danger">1</span> -->
                
                  
                </li>
                <li class="nav-item icon ">
                   
                    <svg cl xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bag siconsize" viewBox="0 0 16 16">
                        <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                      </svg>
                      <!-- <span class="badge rounded-pill badge-notification bg-danger">1</span> -->
                    
                    
                  </li>
      
                <!-- Icon -->
                
                <!-- Icon -->
                
      
                <!-- Icon dropdown -->
                
      
      
                <!-- Avatar -->
               
              </ul>
            </div>
            <!-- Container wrapper -->
          </nav>
    </div>
    <!-- Sidebar -->
   
    <!-- Navbar -->
  </header>
  <!--Main Navigation-->

  <!--Main layout-->
  <main style="margin-top: 99px;">
    <div class="card1">
        <div class="gridSection">
            <div class="margin"><p>
                Your subscription has been expired
            </p>
        <h5 class="font">Renew or Upgrade</h5> 
    <h5 class="font">subscription to continue</h5>
        <button class="sub" >Subscribe</button>    
        </div>
             <div><img  class="imageic" src="../../assets/ic_banner.png" alt=""></div>
            </div>
        <div>
            <div class="container pt-4">
                <!-- <div>
                    <h4 style="color: black;font-family: Poppins-Black ;">Academics</h4>
                    <div class="card02">
                        <carousel>
                             
                            <div class="carousel-cell">
                            
                                <div class="" style="  height: 200px; color: black;">
                               
                                    <img class="carddiv" style="height: 64px; width:64px" src="../../assets/icons8-open-book-50.png" alt="">
                                    <h6 class="subject">Your subscription</h6>
                                    <h6 class="subject">6 Subjects</h6>
                                    <div class="subs" >
                                        <p class="livebuttons" style="color: black; font-family: Poppins-Black ; color: aliceblue;">Subscribe more </p>
                                       
                                      </div>
                                </div>
                                
                            </div>

                            <div class="carousel-cell">
                            
                                <div class="cards">
                               
                                    <img class="carddiv" style="height: 64px; width:64px" src="../../assets/icons8-geometry-64.png" alt="">
                                    <h6 class="subject">Mathematics</h6>
                                    <h6 class="subject">80%</h6>
                                    <div class="progress ">
                                        <div
                                          class="progress-bar "
                                          role="progressbar"
                                          style="width: 75%"
                                          aria-valuenow="75"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                        ></div> 
                                      </div>
                                </div>
                                
                            </div>
                            <div class="carousel-cell">
                            
                                <div class="cards" style=" background: linear-gradient(to right, rgba(135, 181, 243, 1), rgba(112, 107, 255, 1));">
                               
                                    <img class="carddiv" style="height: 64px; width:64px" src="../../assets/icons8-chemistry-64.png" alt="">
                                    <h6 class="subject">Science</h6>
                                    <h6 class="subject">80%</h6>
                                    <div class="progress">
                                        <div
                                          class="progress-bar"
                                          role="progressbar"
                                          style="width: 75%"
                                          aria-valuenow="75"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                        ></div> 
                                      </div>
                                </div>
                                
                            </div>
                            <div class="carousel-cell">
                            
                                <div class="cards" style=" background: linear-gradient(to right, rgba(97, 194, 139, 1), rgba(18, 191, 91, 1));">
                               
                                    <img class="carddiv" style="height: 64px; width:64px" src="../../assets/icons8-book-50.png" alt="">
                                    <h6 class="subject">Social Science</h6>
                                    <h6 class="subject">80%</h6>
                                    <div class="progress">
                                        <div
                                          class="progress-bar"
                                          role="progressbar"
                                          style="width: 75%"
                                          aria-valuenow="75"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                        ></div> 
                                      </div>
                                </div>
                                
                            </div>
                            <div class="carousel-cell">
                            
                                <div class="cards" style=" background: linear-gradient(to right, rgba(234, 115, 88, 1), rgba(255, 78, 17, 1));">
                               
                                    <img class="carddiv" style="height: 64px; width:64px" src="../../assets/icons8-a-50.png" alt="">
                                    <h6 class="subject">English</h6>
                                    <h6 class="subject">80%</h6>
                                    <div class="progress">
                                        <div
                                          class="progress-bar"
                                          role="progressbar"
                                          style="width: 75%"
                                          aria-valuenow="75"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                        ></div> 
                                      </div>
                                </div>
                                
                            </div>
                            <div class="carousel-cell">
                            
                                <div class="cards" style=" background: linear-gradient(to right, rgba(255, 194, 0, 1), rgb(245, 218, 131));">
                               
                                    <img class="carddiv" style="height: 64px; width:64px" src="../../assets/icons8-earth-64.png" alt="">
                                    <h6 class="subject">History</h6>
                                    <h6 class="subject">80%</h6>
                                    <div class="progress">
                                        <div
                                          class="progress-bar"
                                          role="progressbar"
                                          style="width: 75%"
                                          aria-valuenow="75"
                                          aria-valuemin="0"
                                          aria-valuemax="100"
                                        ></div> 
                                      </div>
                                </div>
                                
                            </div>
                        </carousel>
                      
                    </div>
                </div> -->
                <div> <app-accadmic></app-accadmic></div>
                <!-- <div><app-building-legends></app-building-legends></div> -->
                <div class="grid01">
                    <div class="buttons active">
                        <h6 class="livebuttons" style="color: black; font-family: Poppins-Black ;">Live Class</h6>
                    </div>
                   <div class="buttons">
                    <h6 class="livebuttons" style="color: black; font-family: Poppins-Black ;">Attended Class</h6>
                   </div>
                   <div>
                    <h6 style="color: black; font-family: Poppins-Black ; margin-left: 500px;  text-decoration: underline;">See All</h6>
                   </div>
                   
                </div>
              
                <div>
                    
                    <div class="card2">
                        <carousel>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-04.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-02.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-04.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-02.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-04.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-02.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-04.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-02.jpg">
                            </div>
                            <div class="carousel-cell">
                                <img src="../../assets/KSEEB-18-05-2022-04.jpg">
                            </div>

                        </carousel>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
   
    
  </main>
  <!--Main layout-->