
<div>
    <div class="wrap">
        <div>
            <div class="wraper"style="margin-left: 20px; margin-top: 10px;" >
                <div class="row">
                    
                    <div class="col-sm-3">
                        <div class="container">
                            <div class="card zoom "> 
                            <h5 style="margin-left: -16px;">LIVE CLASSES</h5>  
                            </div><!-- .card -->
                          </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="container" style="margin-right: -20px;">
                            <div class="card zoom"> 
                            <h5>ACADEMIC ANIMATED VIDEO</h5>  
                            </div><!-- .card -->
                          </div>
                      </div>
                    <div class="col-sm-3">
                        <div class="container" style="margin-right: -40px;">
                            <div class="card zoom"> 
                            <h5> CONCEPT BASED VIDEO</h5>  
                            </div><!-- .card -->
                          </div>
                    </div>
                    <div class="Vl" style="margin-left: -100; left: -5002; left: 714px; height: 383px; /* width: 20px; */width: 50px;" >
                          
                    </div>
                </div>
                <div> <div class="row">
                   
                    <div class="col-sm-3">
                        <div class="container">
                            <div class="card zoom"> 
                            <h5>SIMPLIFIED STUDY MATERIAL</h5>  
                            </div><!-- .card -->
                          </div>
                    </div>
                    <div class="col-sm-3">
                        <div class="container" style="margin-right: -20px;">
                            <div class="card zoom"> 
                            <h5 style="width: 127px;margin-left: -21px;">CHAPTER WISE ASSIGNMENT</h5>  
                            </div><!-- .card -->
                          </div>
                      </div>
                    <div class="col-sm-3">
                        <div class="container" style="margin-right: -40px;">
                            <div class="card zoom"> 
                            <h5 style="width: 122px;margin-left: -21px;"> AVAILABLE IN 5 LANGUAGES</h5>  
                            </div><!-- .card -->
                          </div>
                    </div>
                
                </div></div>

            </div>
            <div></div>
        </div>
        <div>
            <div class="containers" style="margin-right: -40px; margin-top: 30px;"> 
                <div class="cards " style="margin-left: 0px;padding-left: 30px;height: 684px;height: 409px;padding-right: 30px;"> 
                    <h2>LIVE CLASSES</h2>
                    <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deleniti nisi enim aliquid eos perferendis atque non, excepturi, dolore tenetur sapiente similique voluptate fugiat, ex earum magnam. Omnis, natus officiis.
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere sit quod saepe eius aperiam a deleniti, itaque iusto debitis repellat voluptatibus praesentium adipisci accusamus dignissimos beatae asperiores architecto consequuntur fugit.
                    </P>
                </div><!-- .card -->
              </div>
            <!-- <h2>LIVE CLASSES</h2>
            <P>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quae deleniti nisi enim aliquid eos perferendis atque non, excepturi, dolore tenetur sapiente similique voluptate fugiat, ex earum magnam. Omnis, natus officiis.
                Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facere sit quod saepe eius aperiam a deleniti, itaque iusto debitis repellat voluptatibus praesentium adipisci accusamus dignissimos beatae asperiores architecto consequuntur fugit.
            </P> -->
        </div>
    </div>
</div>