.nav_logo{
    /* height: 50px;
    width: 50px; */
    margin-left: 50px;
}
nav{
    /* background-color: #006788!important;
     */
     /* background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1)); */

    /* background: linear-gradient(to right, #006788, rgba(166, 193, 238, 1)); */
}
button{
    border-radius: 10px;
    margin-left: 800px;
    /* background: transparent linear-gradient(102deg,#ff9e5e,#de007e) 0 0 no-repeat padding-box; */
}
div{
    /* background-color: #006788!important; */
}
.wrapper{
    display: grid;
    grid-template-columns: 9.33% 33.33% 33.33%;
    margin-top: 50px;
    margin-left: 0px;
    /* background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1)); */
}
.trophy{
    margin-left: 20px;
    margin-bottom: 0px;
    height: 30px;
    width: 30px;
}
.Accademic{
    margin-top: 50px;
    width: 250px;
    /* border: solid 1px; */
    /* background-color: #006788!important; */
    /* background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1)); */

    /* background: linear-gradient(to right, #006788, rgba(166, 193, 238, 1)); */
    /* border-radius: 10px; */
    height: 40px;
    margin-left: 0px;
}
.font1{
    /* font-family: "Montserrat-Bold"; */
    color: aliceblue;
}
body {
    margin: 30px 0px;
}
.progress {
    position: relative;
	height: 25px;
}
.progress > .progress-type {
	position: absolute;
	left: 0px;
	font-weight: 800;
	padding: 3px 30px 2px 10px;
	color: rgb(255, 255, 255);
	background-color: rgba(25, 25, 25, 0.2);
}
.progress > .progress-completed {
	position: absolute;
	right: 0px;
	font-weight: 800;
	padding: 3px 10px 2px;
}
.maindiv{
    /* background-color: #006788!important; */
    /* background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1)); */

    /* background: linear-gradient(to right, #006788, rgba(166, 193, 238, 1)); */
}
.wrap{
    display: grid;
    grid-template-columns: 50% 50%
}
img{
    width: 100px;
}
.Acp{
    margin-top: 20px;
    /* border: 1px solid; */
    width: 334px;
    text-align: center;
    border-radius: 15px;
    /* background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1)); */
}
card{
    text-decoration: none;
    /* background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1)); */

}
h5{
    font-size: 1.95rem;
}