/* You can add global styles to this file, and also import other style files */
@font-face {
    font-family: "Cooper";
    src: local("Cooper"), url(./assets/fonts/COOPBL.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat-Bold";
    src: local("Montserrat-Bold"), url(./assets/fonts/Montserrat-Bold.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat-Regular";
    src: local("Montserrat-Regular"), url(./assets/fonts/Montserrat-Regular.ttf) format("truetype");
}
@font-face {
    font-family: "Montserrat-Light";
    src: local("Montserrat-Light"), url(./assets/fonts/Montserrat-Light.ttf) format("truetype");
}
body{
    /* background: linear-gradient(to right, #006788, rgba(166, 193, 238, 1)); */
}