.nav_logo{
    width: 312px;
    height: 265px;
    margin-left: 28px;
}
nav{
    /* background-color: yellow!important; */
    background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1));
    height: 140px;

    /* background: linear-gradient(to right, #006788, rgba(166, 193, 238, 1)) */
    /* background-color: #006788; */
}
/* .login{
margin-left: 1000px;
} */
button{
    border-radius: 10px;
    margin-left: 729px;
    width: 212px;
    /* border: solid 1px; */
    background: rgba(18,31,137);

}
body{
    /* background: #006788!important; */

}
.kid{
    /* width: 300px; */
    height: 500px;
    width: 400px;
    margin-top: 350px;
}
div{
    /* background-color: #006788!important;
    */
    /* background: linear-gradient(to right, #006788, rgba(166, 193, 238, 1)) */
}
.wrapper{
    display: grid;
    grid-template-columns: 50% 25% 25%;
}
.font{
    font-family: "Cooper";
    margin-top: 100px;
    margin-left: 200px;
    font-size: 4.5rem;
    color: aliceblue;
}
.text{
    font-family: "Cooper";
    margin-left: 200px;
    font-size: 4.5rem;
    color: aliceblue;
   
}
.wrap{
    /* display: grid;
    grid-template-columns: 60% 25% 25%;
    margin-left: 96px; */
    margin-top: -120px;
    margin-left: -42px;
}
.color{
    border-radius: 10px;
    /* background: transparent linear-gradient(102deg,#ff9e5e,#de007e) 0 0 no-repeat padding-box; */
}
.shift{
    margin-left: 100px;
}
.font1{
    font-family: "Montserrat-Bold";
    border: solid 1px;
    width: 212px;
    border-radius: 10px;
    color: aliceblue;
    
}
.gradient{
    background: linear-gradient(to right, rgba(255, 219, 0, 1), rgba(245, 185, 0, 1))
    /* background-color: rgb(240, 240, 6) */
}
.butto{
    border: none;
    border-radius: 15px;
    box-shadow: 0 0 8px rgb(207, 207, 207);
  }
  .butto:hover{
    border: none;
    padding: 15px;
    border-radius: 15px;
    box-shadow: inset 0 0 8px #f9f8fc;
    }
    #foot{
        position: relative;
        top: 15px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: none;
        padding: 15px;
        border-radius: 15px;
        box-shadow: 0 0 8px #d9d4e7;
        width: 200px;
        height: 65px;
        background-color: #d9d4e7;
        animation-duration: 5s;
      }
      
      .button-os{
         position: absolute;
          width: 200px;
          height: 65px;
          top: 0;
          left: 0;
          right: 0;
          bottom: 0;
          margin: auto;
          background-color: #f9f8fc;
          border: 2.5px solid #0e172c;
          transition: background-color 2.2s;
          transition-duration: 3s;
          transition: 1.5s;
        }
        
        .button-os:hover{
          position: absolute;
          top: 30px;
          background-color: #fec7d7;
        }
        
        .button-os a{
          font-size: 20px;
          display: block;
          text-decoration: none;
          color:#0e172c;
          transition: 1.5s;
        }
        
        .button-os a:hover{
          letter-spacing: 5px;
        }
        .align{
            left: 110px;
        }
        .align-item{
            left: 562px;
        }
        .align-item2{
            /* margin-left: 220px; */
            margin-left: 619px;
            color: aliceblue;
        }
        .align-item1{
            /* margin-left: 222px;
             */
             margin-left: 550px;
            color: aliceblue;
            margin-top: 20px;
        }
        .learninImage{ 
    margin-top: -61px;
    width: 683px;
    /* margin-left: 275px; */
        }
        .dropdown{
            margin-left: 500px;
            width: 522px;
    height: 65px;
    border-radius: 15px;
    text-align: center;
    font-weight: 500;

        }
        

select{
    width: 268px;
    padding: 5px;
    font-size: 30px;
    line-height: 1;
    border: 0;
    border-radius: 5px;
    margin-left: 10px;
    height: 34px;
    background: url(http://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png) no-repeat right rgba(18,31,137);
    -webkit-appearance: none;
    background-position-x: 478px;
    color: #d9d4e7;
}
        hr {
        
           background-color: rgba(0, 137, 175, 1);
        }

        .imageAlign{
            margin-top: 200px;
        }
        .text2{ 
            margin-left: 26px;
        }
        .text1{
            margin-left: 175px;
        }
        
        .other{
            color: #a560b1;
        } 
        h3{
            color: rgba(18,31,137);
        }
        .go
        {
            height: 51px;
            margin-left: 273px;
            width: 161px;
            margin-top: -184px;
            background: rgba(18,31,137);
        }
        .go1{
            font-size: 25px;
            color: #d9d4e7;
            align-items: center;
        }
        .login{
            color: #d9d4e7;
            align-items: center;
        }
        .image99{
            width: 400px;
            height: 400px;
            margin-bottom: 0px;
            margin-top: -53px;
            margin-left: 33px;
        }