<div class="size">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="d-inline-block">
        <img class="nav_logo" src="../../assets/Untitled-1-01.webp"  />
    </div>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#"></a>
        </li>
        <li class="nav-item ">
            <button type="button" class="btn button " data-toggle="button" aria-pressed="false" autocomplete="off">
              <h6 class="login">login/signup</h6>
                
              </button>
        </li>
        
      </ul>
    </div>
  </nav>
  <div class="gradient">
    <div class="wrapper">
      <div style="margin-top: 98px;">
        <img class="learninImage" src="../../assets/1 (1).png" alt="" sstyle="margin-top: -61px; margin-top: -50; width: 683px;  margin-left: 32px;">
      <div class="wrap" style="margin-top: -5px;margin-left: -410px;">
        <div class="align-item2" style="margin-top: 10px;" ><h3 class="text2">I'AM STUDYING IN</h3></div>
        <select name="class" id="classstd" class="dropdown">
          <option value="volvo">Class 10  </option>
          <option value="saab">Class 9 </option>
          <option value="opel">Class 8 </option>
          <option value="audi">Class 7 </option>
        </select>
        <!-- <div class="dropdown align">
          <a class="btn color shift dropdown-toggle font1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false" style="margin-left: 450px;">
           
           Class 10 student
          </a>
      
          <ul class="dropdown-menu font1" aria-labelledby="dropdownMenuLink">
            <li><a class="dropdown-item" href="#">Class 10 student </a></li>
            <li><a class="dropdown-item" href="#">Class 9 student</a></li>
            <li><a class="dropdown-item" href="#">Class 8 student</a></li>
          </ul>
        </div> -->
        <div class="align-item1"><h3 class="text1"> I NEED</h3></div>
        <!-- <div class="dropdown align-item ">
          <a class="btn color  dropdown-toggle font1" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
            Need attention in a subject
          </a>
        
          <ul class="dropdown-menu font1 " aria-labelledby="dropdownMenuLink">
            <li style="color: rgb(212, 52, 52);"><a class="dropdown-item" href="#">Live Class</a></li>
            <li><a class="dropdown-item" href="#">Entertainment</a></li>
            <li><a class="dropdown-item" href="#">Learning something new </a></li>
          </ul>
        </div> -->
        <select name="class" id="classstd" class="dropdown">
          <option value="volvo" class="other">Entertainment </option>
          <option value="saab">Learning something new</option>
          <option value="opel"> PERSONAL COACHING</option>
          <option value="audi">CONCEPT BASED LEARNING</option>
          <option value="audi">ACADEMIC ANIMATED VEDIO</option>
        </select>
      </div>
      </div>
      <div>
        <img class="image99" src="../../assets/1 (5).png" alt="">
      </div>
      <div class="imageAlign">
        <img class="kid" src="../../assets/Blue.png" style="margin-top: -151px;width: 565px;margin-left: -89px;height: 583px;"/>
      </div>
      <button class="go"><h4 class="go1">Go</h4></button>
    </div>
   
    <!-- <button class="butto" id="foot"><button class="button-os butto"><a href="#">BUTTON</a></button></button> -->
  </div> 
</div>
<img src="../../assets/Bubbles (1).png" alt="" style="margin-top: -149px;height: 195px;width: 1354px;">
